<div class="flex jus-cen page-header">

    <b class="page-title">
        {{ title }}
    </b>

</div>

<div class="flex jus-cen container">

    <!-- download -->
    <div class="flex-col jus-cen meter-cont" [ngClass]="{
        'meter-cont-low': (downloadSpeed <= lowSpeedMark),
        'meter-cont-medium': (downloadSpeed > lowSpeedMark && downloadSpeed <= mediumSpeedMark),
        'meter-cont-high': (downloadSpeed > mediumSpeedMark && downloadSpeed <= highSpeedMark)
    }">

        <a class="speed">
            {{ downloadSpeed }}
        </a>

        <a class="metric">
            Mbps
        </a>

        <a class="title">
            DOWNLOAD
        </a>

    </div>

    <!-- upload -->
    <div class="flex-col jus-cen meter-cont" [ngClass]="{
        'meter-cont-low': (uploadSpeed <= lowSpeedMark),
        'meter-cont-medium': (uploadSpeed > lowSpeedMark && uploadSpeed <= mediumSpeedMark),
        'meter-cont-high': (uploadSpeed > mediumSpeedMark && uploadSpeed <= highSpeedMark)
    }">

        <a class="speed">
            {{ uploadSpeed }}
        </a>

        <a class="metric">
            Mbps
        </a>

        <a class="title">
            UPLOAD
        </a>

    </div>

</div>

<div class="flex jus-cen page-footer">

    <ng-container *ngFor="let link of links">

        <a class="title" href="{{link.value}}" target="_blank">
            {{ link.label }}
        </a>

    </ng-container>

</div>

<router-outlet></router-outlet>